
<div class='nested-fields'>
    <%= f.input :pattern, collection: Exercise.pluck(:pattern).uniq, label: false %>
    <%= f.input :name, collection: Exercise.pluck(:name).uniq, label: false %>

    <%= f.input :weight, placeholder: 'Weight', label: false %>
    <%= f.input :reps, placeholder: 'Reps', label: false %>
    <%= f.input :intensity, placeholder: 'RPE', label: false %>
    <%= link_to_remove_association "Remove", f %>
</div>
