<div class='nested-fields form-group'>
  <div class="form-row">
    <div class="col">
      <%= f.input :type, collection: ['Push', 'Pull', 'Squat', 'Hip Extension', 'Core Stability'], input_html: {class: "form-control-sm"}, label: false %>
    </div>
    <div class="col">
      <%= f.input :exercise, collection: Workset.order(:created_at).pluck(:exercise), input_html: {class: "form-control-sm"}, label: false %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <%= f.input :weight, placeholder: 'Weight', input_html: {class: "form-control-sm"}, label: false %>
    </div>
    <div class="col-3">
      <%= f.input :repetitions, placeholder: 'Reps', input_html: {class: "form-control-sm"}, label: false %>
    </div>
    <div class="col-3">
      <%= f.input :rpe, placeholder: 'RPE', input_html: {class: "form-control-sm"}, label: false %>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger btn-sm"><%= link_to_remove_association "Remove", f, class: "buttons" %></button>
    </div>
  </div>
</div>
