<div class="container" id="workout-accordion" role="tablist">
  <%= simple_form_for current_user.workouts.new do |f| %>

  <div class="card">
    <%= f.simple_fields_for :worksets do |workset| %>
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="collapse" data-toggle="collapse" href="#collapseOne" role="button">
          Train
        </a>
      </h5>
    </div>

        <%= render 'workset_fields', f: workset %>
    <% end %>
    <%= link_to_add_association 'Add Set', f, :worksets, class: 'buttons' %>


        <%= f.button :submit, "Finished!", class: "btn btn-success" %>


<% end %>
</div>
