<div class="card">
  <h5>Train</h5>
</div>
<%= simple_form_for @workout do |f| %>

<div class="card-form">
  <%= f.simple_fields_for :exercises do |exercise| %>
    <%= render 'exercise_fields', f: exercise %>
  <% end %>
</div>

  <div class="card links">
    <%= link_to_add_association '', f, :exercises, id: 'add-set' %>
  </div>
    <%= f.button :submit, "", id: 'finish' %>

<% end %>
