<div class="container" id="workout-accordion" role="tablist">
  <%= simple_form_for @workout do |f| %>

  <div class="card">
    <%= f.simple_fields_for :worksets do |workset| %>
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseOne" role="button">
          Train
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" data-parent="#workout-accordion">
      <div class="card-body form-group">
        <%= render 'workset_fields', f: workset %>
      </div>
    <% end %>
  <div class="card-body form-group">
    <button type="button" class="btn btn-primary btn-sm"><%= link_to_add_association 'Add Set', f, :worksets, class: 'buttons' %></button>
  </div>

  <div class="form-footer">
    <div class="form-row">
      <div class="col-4">
        <%= f.button :submit, "Finished!", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<% end %>
</div>
