<div class="card" id="new-workout">
  <h3>Train</h3>
  <%= simple_form_for @workout do |f| %>
    <%= f.simple_fields_for :worksets do |workset| %>
      <%= render 'workset_fields', f: workset %>
    <% end %>
  <%= link_to_add_association 'Add Set', f, :worksets, class: 'buttons' %>
  <%= f.button :submit, "Finished!", class: "btn btn-success" %>
  <% end %>
</div>
