<h1>Log a Workout</h1>
<table id="workout_form">
  <%= simple_form_for @workout do |w| %>
  <tr>
    <th>Movement</th>
    <th>Exercise</th>
    <th>Weight</th>
    <th>Reps</th>
    <th>RPE</th>
  </tr>
    <tr class="one_set">
      <%= w.simple_fields_for :worksets do |s| %>
        <td><%= s.input :movement_id, collection: Movement.order(:name), input_html: {class: 'movement'}, label: false %></td>
        <td><%= s.input :exercise_id, collection: Movement.order(:name), as: :grouped_select, group_method: :exercises, input_html: {class: 'exercise'}, label: false %></td>
        <td><%= s.input :weight, label: false %></td>
        <td><%= s.input :repetitions, label: false %></td>
        <td><%= s.input :rpe, label: false %></td>
      <% end %>
    </tr>
  <tr>
    <td><button id="set_btn">Add Set</button></td>
    <td><%= w.button :submit %></td>
  </tr>
  <% end %>
</table>
