<%= simple_form_for @workout do |f| %>
<div id="workout-date"><%= f.input :workout_date, as: :datetime, label: false %></div>

  <%= f.simple_fields_for :exercises do |exercise| %>
    <%= render 'exercise_fields', f: exercise %>
  <% end %>

  <div class="links">
    <%= link_to_add_association '', f, :exercises, id: 'add-set' %>
  </div>
    <%= f.button :submit, "", id: 'finish' %>

<% end %>
