
<div class="container jumbotron">

<%= simple_form_for @workout do |f| %>

  <h3>Sets</h3>
  <div class="form-group">
    <%= f.simple_fields_for :worksets do |workset| %>
    <%= render 'workset_fields', f: workset  %>
    <% end %>
    <div class='links form-group'>
      <button type="button" class="btn btn-primary btn-sm"><%= link_to_add_association 'Add Set', f, :worksets, class: 'buttons' %></button>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="form-control text"><%= f.input :notes, as: :trix_editor %></div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <%= f.button :submit, "Finished!", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
</div>
