<div class="card" id="new-workout">
  <h5>Train</h5>
  <%= simple_form_for @workout do |f| %>
  <table>
    <%= f.simple_fields_for :exercises do |exercise| %>
      <%= render 'exercise_fields', f: exercise %>
  </table>
    <% end %>
  <%= link_to_add_association 'Add Set', f, :exercises, class: 'buttons' %>
  <%= f.button :submit, "Finished!", class: "btn btn-success" %>
  <% end %>
</div>
