<div class="card-show">
  <div class="card-title">
    Daily Training Maxes
  </div>
  <div class="card-body">
    <%= render 'graphs/bubble' %>
  </div>
</div>

<div class="card-show">
  <div class="card-title">
    Cumulative Training Volume
  </div>
  <div class="card-body">
    <%= render 'graphs/polar' %>
  </div>
</div>

<div class="card-show">
  <div class="card-title">
    Movements Used
  </div>
  <div class="card-body">
    <%= render 'graphs/radar' %>
  </div>
</div>

<div class="card-show">
  <div class="card-title">
    Diet
  </div>
  <div class="card-body">
    <%= render 'meals/slides' %>
  </div>
</div>

<div class="card-show">
  <div class="card-title">
    Notes
  </div>
  <div class="card-body">
    <%= render 'journals/index' %>
  </div>
</div>
