<h1>Log a Workout</h1>

<%= form_with model: @training_session, local: true, class: 'workout' do |e| %>
  <table>
    <tr>
      <td>
        <%= e.label 'Movement Pattern' %>
      </td>
      <td>
        <%= e.collection_select @movement_patterns,
                                MovementPattern.order(:name),
                                :id,
                                :name,
                                {include_blank: true},
                                {id: 'movement_pattern'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= e.label 'Name' %>
      </td>
      <td>
        <%= e.grouped_collection_select @exercises,
                                        MovementPattern.order(:name),
                                        :exercises,
                                        :name,
                                        :id,
                                        :name,
                                        { include_blank: true},
                                        {id: 'exercise'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= e.label 'Duration' %>
      </td>
      <td>
        <%= e.text_field :duration %>
      </td>
      <td>
        <%= e.label 'Rating' %>
      </td>
      <td>
        <%= e.text_field :rating %>
      </td>
      <td>
        <%= e.submit %>
      </td>
    </tr>
  </table>
<% end %>
