<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kanit:700" rel="stylesheet">
  </head>
  <body>

      <header>
        <h1>BarBender</h1>
      </header>

      <p><%= notice %></p>

      <main>
        <%= yield %>
        <div id="new-button"></div>
      </main>

      <div id="new-modal">
          <% if signed_in? %>
            <%= link_to "", new_workout_path, class: "menu-button fa fa-heartbeat fa-2x" %>
            <%= link_to "", new_meal_path, class: "menu-button fa fa-cutlery fa-2x" %>
            <%= link_to "", new_journal_path, class: "menu-button fa fa-sticky-note fa-2x" %>
            <%= link_to "", user_path(current_user), class: "menu-button fa fa-user-circle fa-2x" %>
            <%= link_to "", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}, class: "menu-button fa fa-cog fa-2x" %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "button" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          <% end %>
      </div>

  </body>
</html>
